<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-body">
                  <h4 class="card-title">Add Products</h4>
                  <p class="card-description">
                    Add Here
                  </p>
                  <form class="forms-sample" method="POST" action="{% url 'update_product' pro_id=pro.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                      <label for="exampleSelectGender">Select Category</label>
                        <select class="form-control" id="exampleSelectGender" name="cname">
                          <option>{{pro.Category}}</option>
                            {% for d in cat %}
                          <option>{{d.Category_Name}}</option>
                            {% endfor %}
                        </select>
                      </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="pname" value="{{pro.Product_Name}}">
                    </div>
                          <div class="form-group">
                      <label for="exampleInputName1">Price</label>
                      <input type="text" class="form-control"  placeholder="Price" name="price" value="{{pro.Price}}">
                    </div>
                        <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" name="description" rows="4">{{pro.Description}}</textarea>
                    </div>
                      <div>
                          <img src="{{pro.Product_Image.url}}" width="100px" height="100px">
                      <label>Upload Product Image</label><br>
                      <input type="file" name="pimage" class="file-upload-default">
                          </div>
                      <br>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
</body>
</html>
{% endblock %}